# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anomaliaTermica = pd.Series(dados)
anomaliaTermica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
indice = [1900,1920,1940,1960,1980,2000,2020]
anomaliaTermicaComIndice = pd.Series(dados, index = indice)
anomaliaTermicaComIndice

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas = pd.Series(dic_temperaturas)
serie_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr_df = pd.DataFrame(arr)
arr_df

             0           1           2
0   101.085816  101.410231   78.466276
1   105.546800  105.220060   94.924951
2    96.407471   83.411682  109.265653
3   103.348969  107.144792   99.282096
4   120.635997  114.280643   97.405333
5   106.520378   88.341733   94.381062
6    98.485614   90.354511   92.144879
7   116.125978  102.398993   96.467598
8   103.649132  113.228534  123.051981
9    96.336615   96.442501   95.664334
10  101.149885   96.735221  104.859032
11   82.458394   90.796156   96.509026
12   95.491363   94.124218   99.661290
13   97.485669  101.978574   91.085647
14  111.093687   95.119243   97.519392
15   85.262032  103.908103  100.220436
16  105.496991   94.395311   85.385485
17  101.472597  107.794149  119.847636
18  109.248987  101.497698  105.704458
19  102.066165  106.533368   99.525367

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui
#indicesdf = pd.Series(['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10','x11',
#             'x12','x13','x14','x15','x16','x17','x18','x19','x20'])
#t = arr_df.set_index(indicesdf)
a = 1
lista = np.arange(start=1, stop=21, step=1)

indicesdf = pd.Series(lista)
arr_df.columns = ['x1', 'x2', 'x3']
arr_df = arr_df.set_index(indicesdf)
arr_df

            x1          x2          x3
1   101.085816  101.410231   78.466276
2   105.546800  105.220060   94.924951
3    96.407471   83.411682  109.265653
4   103.348969  107.144792   99.282096
5   120.635997  114.280643   97.405333
6   106.520378   88.341733   94.381062
7    98.485614   90.354511   92.144879
8   116.125978  102.398993   96.467598
9   103.649132  113.228534  123.051981
10   96.336615   96.442501   95.664334
11  101.149885   96.735221  104.859032
12   82.458394   90.796156   96.509026
13   95.491363   94.124218   99.661290
14   97.485669  101.978574   91.085647
15  111.093687   95.119243   97.519392
16   85.262032  103.908103  100.220436
17  105.496991   94.395311   85.385485
18  101.472597  107.794149  119.847636
19  109.248987  101.497698  105.704458
20  102.066165  106.533368   99.525367

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui
arr_df['media'] = arr_df.mean(axis=1)
arr_df

            x1          x2          x3       media
1   101.085816  101.410231   78.466276   93.654108
2   105.546800  105.220060   94.924951  101.897270
3    96.407471   83.411682  109.265653   96.361602
4   103.348969  107.144792   99.282096  103.258619
5   120.635997  114.280643   97.405333  110.773991
6   106.520378   88.341733   94.381062   96.414391
7    98.485614   90.354511   92.144879   93.661668
8   116.125978  102.398993   96.467598  104.997523
9   103.649132  113.228534  123.051981  113.309882
10   96.336615   96.442501   95.664334   96.147817
11  101.149885   96.735221  104.859032  100.914712
12   82.458394   90.796156   96.509026   89.921192
13   95.491363   94.124218   99.661290   96.425623
14   97.485669  101.978574   91.085647   96.849963
15  111.093687   95.119243   97.519392  101.244107
16   85.262032  103.908103  100.220436   96.463523
17  105.496991   94.395311   85.385485   95.092596
18  101.472597  107.794149  119.847636  109.704794
19  109.248987  101.497698  105.704458  105.483714
20  102.066165  106.533368   99.525367  102.708300

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui
arr_df['log_med'] = (np.log(arr_df['media']))
arr_df

            x1          x2          x3       media   log_med
1   101.085816  101.410231   78.466276   93.654108  4.539608
2   105.546800  105.220060   94.924951  101.897270  4.623965
3    96.407471   83.411682  109.265653   96.361602  4.568108
4   103.348969  107.144792   99.282096  103.258619  4.637237
5   120.635997  114.280643   97.405333  110.773991  4.707492
6   106.520378   88.341733   94.381062   96.414391  4.568655
7    98.485614   90.354511   92.144879   93.661668  4.539689
8   116.125978  102.398993   96.467598  104.997523  4.653937
9   103.649132  113.228534  123.051981  113.309882  4.730126
10   96.336615   96.442501   95.664334   96.147817  4.565887
11  101.149885   96.735221  104.859032  100.914712  4.614276
12   82.458394   90.796156   96.509026   89.921192  4.498934
13   95.491363   94.124218   99.661290   96.425623  4.568772
14   97.485669  101.978574   91.085647   96.849963  4.573163
15  111.093687   95.119243   97.519392  101.244107  4.617535
16   85.262032  103.908103  100.220436   96.463523  4.569165
17  105.496991   94.395311   85.385485   95.092596  4.554851
18  101.472597  107.794149  119.847636  109.704794  4.697793
19  109.248987  101.497698  105.704458  105.483714  4.658557
20  102.066165  106.533368   99.525367  102.708300  4.631893